@font-face {
    font-family: 'Breathe Fire III';
    src: url('DragonHunter-9Ynxj.otf');
}

* {
    font-family: 'Breathe Fire III';
    color: #7e00af;
}

body {
    height: 95vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

    display: grid;
    grid-template: 50px 60px 400px 60px 1fr / 1fr 400px 1fr;
    overflow-x: hidden;

    background-color: rgb(250, 237, 255);
}

#Chuck {
    width: 100vw;
    grid-column: 1 / 4;
    animation: moveText 25s linear infinite;
}

@keyframes moveText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#Titulo {
    text-align: center;
    grid-area: 2 / 2;
}

#listagem {
    margin-left: 60px;
    grid-area: 3 / 2;
    list-style-type: none;
    padding-left: 20px;
    font-size: 18px;
}

#paginacao {
    text-align: center;
    grid-area: 4 / 2;
    justify-content: space-between;
    font-size: 18px;
}

a {
    text-decoration: none;
}

#cat {
    grid-area: 5 / 2;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-top: 20px;

    animation: fadeIn 10s linear infinite;
}

@keyframes fadeIn {
    0% {
        transform: translateX(-150%);
    }

    50% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(-150%);
    }
}
